# DataManim_2 (ì‘ì—… 1ìœ í˜• ì—°ìŠµë¬¸ì œ)
* https://www.datamanim.com/dataset/03_dataq/typeone.html

In [1]:
import pandas as pd
import numpy as np
# pd.options.display.max_columns = 20
# pd.options.display.max_rows = 60
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 6)

## 1~5 (*3)

In [2]:
# ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
# ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)
DataUrl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
data = pd.read_csv(DataUrl1, index_col=0)
display(data)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
...,...,...,...,...,...,...,...,...,...
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [3]:
print("1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)")
print(data.groupby(['channelTitle']).size().sort_values(ascending=False)[:10].index)

print("\n2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼")
print(data.loc[data['dislikes'] > data['likes']].groupby('channelTitle').size().index)

print("\n3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼")
data3 = data[['channelId', 'channelTitle']].drop_duplicates()['channelId'].value_counts()
print(len(data3.loc[data3 > 1]))

print("\n4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?")
data['trending_date2'] = pd.to_datetime(data['trending_date2'])
data4 = data.loc[data['trending_date2'].dt.weekday == 6]
print(data4.groupby('categoryId').size().sort_values().to_frame().index[-1])

print("\n5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼")
display(data.pivot_table(index=data['trending_date2'].dt.weekday, columns='categoryId', aggfunc='size'))

1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)
Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ',
       'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…'],
      dtype='object', name='channelTitle')

2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼
Index(['(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ASMR ì• ì •TV', 'Gen.G esports', 'MapleStory_KR',
       'ROAD FIGHTING CHAMPIONSHIP', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ì–‘íŒ¡ YangPang',
       'ì˜¤ë©”í‚´TV', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', 'ìœ¡ì§€ë‹´', 'ì² êµ¬í˜• (CHULTUBE)', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'í•«ë„ê·¸TV'],
      dtype='object', name='channelTitle')

3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼
71

4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?
24

5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
0,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
1,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
2,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
5,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
6,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9

## 6~10 (*9)

In [4]:
print("6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)")
data['ratio'] = np.where(data['view_count'] > 0, data['comment_count'] / data['view_count'], np.nan)
print(data.loc[data['ratio'] == data['ratio'].max()]['title'].tolist()[0])

print("\n7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)")
print(data.loc[data['ratio'] > 0].dropna().sort_values(by='ratio', ascending=True)['title'].iloc[0])

print("\n8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)")
data8 = data.copy()
data8['dis/like'] = np.where((data8['likes'] > 0) & (data8['dislikes'] > 0), data8['dislikes'] / data8['likes'], np.nan)
print(data8.loc[data8['dis/like'] == data8['dis/like'].min()]['title'].tolist()[0])

print("\n9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)")
print(list(data.groupby(['channelId', 'channelTitle'], as_index=False).size().sort_values(by='size', ascending=False)['channelTitle'])[0])

print("\n10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?")
data10 = data.groupby(['title', 'channelId'], as_index=False).size()
print(len(data10.loc[data10['size'] >= 20]))
# print((data[['title','channelId']].value_counts()>=20).sum())

6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)
Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)
ì§¤íˆ°

10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?
40

## 11~15 (*12, 15 dt-dt=Timedelta)

In [5]:
# ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
# ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)
DataUrl2_1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' # (ë¹„ë””ì˜¤ ì •ë³´)
DataUrl2_2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv' # (ì°¸ê°€ì ì±„ë„ ì •ë³´)
video = pd.read_csv(DataUrl2_1)
channel = pd.read_csv(DataUrl2_2)
display(video)
display(channel)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [45]:
data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct').reset_index(drop=True)
data15['time_gap'] = data15['ct'].diff()
data15

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1,NaT
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1,0 days 00:09:59
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1,0 days 00:10:01
...,...,...,...,...,...,...,...,...,...
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1,0 days 00:10:00
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1,0 days 00:09:59
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,0 days 00:10:01

In [67]:
print(type(pd.to_datetime('2021-01-03 15:00:00')))
x = pd.to_datetime('2021-01-03 15:00:00') - pd.to_datetime('2021-01-03 14:00:00')
print(x, type(x))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
0 days 01:00:00 <class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [73]:
import datetime
data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct')
data15['time_gap'] = data15['ct'].diff()
data15_id = data15.loc[(data15['time_gap'] <= datetime.timedelta(minutes=5)) | (data15['time_gap'] >= datetime.timedelta(minutes=20))].index.tolist()
d15_temp = []
for idx in data15_id:
    idm, idp = idx -1, idx + 1
    if idm not in data15_id:
        d15_temp.append(idm)
    if idp not in data15_id:
        d15_temp.append(idp)
data15_id += d15_temp
data15_id.sort()
display(data15.iloc[data15_id, :])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1,0 days 00:10:01
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1,0 days 00:10:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1,0 days 00:30:01
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1,0 days 00:10:00

In [74]:
print("11. ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼")
video['ct'] = pd.to_datetime(video['ct'])
channel['ct'] = pd.to_datetime(channel['ct'])
print("video['ct']:", video['ct'].dtype, "\nchannel['ct']:", channel['ct'].dtype)
display(video.groupby('videoname', as_index=False).size())

print("\n12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼")
display(video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']])

print("\n13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼")
display(channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']])

print("\n14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼")
data14a = channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')].drop_duplicates('channelname', keep='first').sort_values(by='channelname').reset_index(drop=True)
data14b = channel.loc[channel['ct'] >= pd.to_datetime('2021-11-01 15:00:00')].drop_duplicates('channelname', keep='first').sort_values(by='channelname').reset_index(drop=True)
data14a = data14a.loc[:, ['channelname', 'subcnt']]
data14b = data14b.loc[:, ['channelname', 'subcnt']]
data14a.columns = ['channelname', 'subcnt_bf']
data14b.columns = ['channelname', 'subcnt_af']
data14c = pd.merge(data14a, data14b, how='inner')
data14c['subcnt_change'] = data14c['subcnt_af'] - data14c['subcnt_bf']
display(data14c.loc[:, ['channelname', 'subcnt_change']])

print("\n15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤.\
      ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼")
import datetime

data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct')
data15['time_gap'] = data15['ct'].diff()
data15_id = data15.loc[(data15['time_gap'] <= datetime.timedelta(minutes=5)) | (data15['time_gap'] >= datetime.timedelta(minutes=20))].index.tolist()
d15_temp = []
for idx in data15_id:
    idm, idp = idx -1, idx + 1
    if idm not in data15_id:
        d15_temp.append(idm)
    if idp not in data15_id:
        d15_temp.append(idp)
data15_id += d15_temp
data15_id.sort()
display(data15.iloc[data15_id, :])

11. ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼
video['ct']: datetime64[ns]
channel['ct']: datetime64[ns]

   videoname  size
0     ê³µë²” EP1  3492
1     ê³µë²” EP2  3204
2     ê³µë²” EP3  2568
..       ...   ...
5     ê³µë²” EP6  1274
6     ê³µë²” EP7   555
7     ê³µë²” EP8   266

[8 rows x 2 columns]

12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

       viewcnt videoname                  ct
3491   3180532    ê³µë²” EP1 2021-11-01 15:30:03
6695   2199328    ê³µë²” EP2 2021-11-01 15:30:03
9263   1671294    ê³µë²” EP3 2021-11-01 15:30:03
...        ...       ...                 ...
14934  1750222    ê³µë²” EP6 2021-11-01 15:30:04
13660  1630200    ê³µë²” EP7 2021-11-01 15:30:05
15200  1289088    ê³µë²” EP8 2021-11-01 15:30:05

[8 rows x 3 columns]

13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

        channelname   subcnt
393          ë…¼ë¦¬ì™• ì „ê¸°   922000
266      ì¸„ì •ChuJeong   322000
139           ì•¼ì „ì‚½ì§±ì¬   257000
...             ...      ...
12              ê½ˆëšœë£¹  1330000
1276  Balming Tiger    54300
1155  ê³½í† ë¦¬ kwak tori   471000

[11 rows x 2 columns]

14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

      channelname  subcnt_change
0   Balming Tiger           2500
1   ê³½í† ë¦¬ kwak tori          -2000
2      ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶           1540
..            ...            ...
8             ì¡°ë‚˜ë‹¨          12000
9      ì¸„ì •ChuJeong           1000
10        í˜•ì‚¬!íƒì •ë˜ë‹¤          10300

[11 rows x 2 columns]

15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤.      ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1,0 days 00:10:01
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1,0 days 00:10:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1,0 days 00:30:01
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1,0 days 00:10:00

## 16~20 (*20 ì¤‘ë³µì¸ ë°ì´í„° ì°¾ê¸°)

In [105]:
print("16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼")
data16 = video.sort_values(by='ct').drop_duplicates('videoname', keep='first')[['ct', 'videoname']]
data16['ct'] = data16['ct'].dt.strftime("%Y-%m-%d")
display(data16)

print("\n17. 'ê³µë²”' ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤.\
      ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼")
display(video.loc[video['ct'].dt.hour == 21].drop_duplicates('videoname', keep='first').sort_values('viewcnt', ascending=False)[['viewcnt', 'ct', 'videoname']])

print("\n18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³ \
      videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼")
video['ratio'] = video['dislikecnt'] / video['likecnt']
display(video.sort_values(by='ct', ascending=True).drop_duplicates('videoname', keep='last').sort_values(by='ratio', ascending=True)[['videoname', 'ratio']])

print("\n19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤")
data19a = video.loc[video['ct'] >= pd.to_datetime('2021-11-01 00:00:00')].sort_values(by='ct').drop_duplicates('videoname', keep='first').sort_values(by='videoname')[['videoname', 'viewcnt']]
data19b = video.loc[video['ct'] <= pd.to_datetime('2021-11-01 15:00:00')].sort_values(by='ct').drop_duplicates('videoname', keep='last').sort_values(by='videoname')[['videoname', 'viewcnt']]
data19a.columns = ['videoname', 'viewcnt_bf']
data19b.columns = ['videoname', 'viewcnt_af']
data19c = pd.merge(data19a, data19b, how='inner')
data19c['viewcnt_change'] = data19c['viewcnt_af'] - data19c['viewcnt_bf']
display(data19c[['videoname', 'viewcnt_change']])
# def check(x):
#     result = max(x) - min(x)
#     return result
# answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)

print("\n20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼")
display(video.loc[video.index.isin(set(video.index) - set(video.drop_duplicates().index))][['ct', 'videoname']])

16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

               ct videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
...           ...       ...
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

[8 rows x 2 columns]

17. 'ê³µë²”' ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤.      ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

       viewcnt                  ct videoname
14945   264029 2021-10-30 21:00:08    ê³µë²” EP8
13117   252032 2021-10-28 21:00:04    ê³µë²” EP7
9275    217674 2021-10-16 21:00:04    ê³µë²” EP4
...        ...                 ...       ...
3507    148144 2021-10-09 21:00:03    ê³µë²” EP2
6707    147183 2021-10-14 21:00:04    ê³µë²” EP3
21      117340 2021-10-07 21:00:03    ê³µë²” EP1

[8 rows x 3 columns]

18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³       videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

      videoname     ratio
13660    ê³µë²” EP7  0.013636
14934    ê³µë²” EP6  0.015881
11543    ê³µë²” EP4  0.017971
...         ...       ...
3491     ê³µë²” EP1  0.027118
6695     ê³µë²” EP2  0.029844
15200    ê³µë²” EP8  0.141357

[8 rows x 2 columns]

19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

   videoname  viewcnt_change
0     ê³µë²” EP1           13298
1     ê³µë²” EP2           10300
2     ê³µë²” EP3            9927
..       ...             ...
5     ê³µë²” EP6           14141
6     ê³µë²” EP7           26949
7     ê³µë²” EP8           89147

[8 rows x 2 columns]

20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

                      ct videoname
722  2021-10-13 09:41:37    ê³µë²” EP1
3927 2021-10-13 09:41:37    ê³µë²” EP2